<table>
    <tr>
        <th style="border: 1px solid black">Employee ID</th>
        <th style="border: 1px solid black">Firstname</th>
        <th style="border: 1px solid black">Lastname</th>
        <th style="border: 1px solid black">Job Name</th>
        <th style="border: 1px solid black">Photo</th>
    </tr>
    <% for (let i=0; i<resultJoin.length; i++) { %>
        <tr>
            <td style="border: 1px solid black"><%- resultJoin[i]['id'] %></td>
            <td style="border: 1px solid black"><%- resultJoin[i]['firstname'] %></td>
            <td style="border: 1px solid black"><%- resultJoin[i]['lastname'] %></td>
            <td style="border: 1px solid black"><%- resultJoin[i]['job_name'] %></td>
            <td style="border: 1px solid black"><img src="img/<%- resultJoin[i]['job_name'] %>.jpg"></td>
        </tr>
    <% } %>
</table>

<table>
    <tr>
        <th style="border: 1px solid black">Job ID</th>
        <th style="border: 1px solid black">Job Name</th>
    </tr>
    <% for (let i=0; i<resultJobNoEmployee.length; i++) { %>
        <tr>
            <td style="border: 1px solid black"><%- resultJobNoEmployee[i]['id'] %></td>
            <td style="border: 1px solid black"><%- resultJobNoEmployee[i]['job_name'] %></td>
        </tr>
    <% } %>
</table>